<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

    # Exclude the /learn directory - this is where wordpress is installed
    RewriteRule ^learn/ - [L,NC]

    # Don't lost the headers
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]


    # Redirect all other requests to Vue
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>