#citsci-main-panel {
    position: relative;
    width: 950px;
    height: 600px;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    background-color: var(--white);
}
#citsci-buttons-panel {
    position: relative;
    float: left;
    width: 80px;
    height: 450px;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    padding: 5px;
    background-color: var(--dark-aluminium);
}
#citsci-buttons-panel button {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

.button-not-selected {
    background-color: var(--light-aluminium);
}

.button-selected {
    background-color: var(--aluminium);
}

#citsci-blurb {
    position: relative;
    float: left;
    height: 450px;
    border-radius: 5px;
    margin: 10px 0 10px 10px;
    border: 1px solid var(--dark-aluminium);
    color: var(--dark-aluminium);
}
#citsci-blurb.no-buttons {
    width: 320px;
}
#citsci-blurb.yes-buttons {
    width: 230px;
}

#citsci-examples {
    position: relative;
    float: left;
    width: 100%;
    height: 120px;
    border-radius: 5px;
    padding: 10px 0;
    background: var(--dark-aluminium);
    color: var(--white);
}

#citsci-examples img {
    width: 140px;
    height: 100px;
    border-radius: 5px;
    margin: 0 0 0 13px !important;
}

#citsci-mapping-panel {
    position: relative;
    width: 450px;
    float: left;
    margin-right: 10px
}

#canvas__map, #canvas__compare {
    position: relative;
    float: left;
    height: 450px;
    width: 450px;
    border-radius: 5px;
    margin: 0 0 10px 0;
    background: var(--dark-aluminium);
}

#citsci-info-panel {
    position: relative;
    float: left;
    height: 390px;
    width: 380px;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    background: var(--dark-aluminium);
    color: var(--white);

}

#ex-canvas {
    position: absolute;
    top: 305px;
    left: 10px;
    height: 75px;
    width: 100px;
    border-radius: 5px;
    margin: 0;
    background: var(--white);
}

.submit-button, .busy-button {
    padding: 2px 15px;
    width: 380px;
    height: 50px;
    border: none; /* Remove default border */
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px; /* Optional: for rounded corners */
    font-size: 3rem;
    Margin-top: 10px;
    display: inline;
}

.submit-button:hover {
    background-color: var(--indigo);
}

.busy-button {
    background-color: var(--aluminium);
    display: none;
}

#canvas__control {
    position: relative;
    float: right;
    height: 450px;
    width: 450px;
    border-radius: 5px;
    margin: 0 0 10px 10px;
    background: var(--dark-aluminium);
}

#compare-buttons-panel {
    color: var(--dark-aluminium);
    float: left;
    width: 100%;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.compare-column {
    position: relative;
    float: left;
    width: 220px;
    border-radius: 5px;
    padding: 10px 3px;
    margin-right: 10px;
    background-color: var(--dark-aluminium);
    color: var(--white);
}

.compare-column p {
    text-align: center;
    margin: 0 0 11.5px 0;
}

#control_panel {
    border: 5px solid var(--orange);
    border-radius: 8px;
    margin: -5px 5px 0 0;
    width: 459px;
    height: 570px;
    float: right;
}

#control-instructions p {
    text-align: center;
    color: var(--dark-aluminium);
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 800;
    margin: 0;
}

#control-buttons {
    margin:0 auto;
    padding-left: 30px;
    width: 420px;
}
.control-button {
    width: 100px;
    height: 40px;
    margin: 0 30px 0 0;
    float: left;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2rem;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
}

.control-button-oops {
    width: 200px;
    height: 20px;
    margin: 5px 80px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
}