
#citsci-main-panel, #tutorial-main-panel {
    position: relative;
    width: 950px;
    height: 630px;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    background-color: var(--white);
}
#citsci-buttons-panel {
    position: relative;
    float: left;
    width: 80px;
    height: 450px;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    padding: 5px;
    background-color: var(--dark-aluminium);
}
#citsci-buttons-panel button {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.button-not-selected {
    background-color: var(--light-aluminium);
}

.button-selected {
    background-color: var(--brown);
}

#citsci-blurb {
    position: relative;
    float: left;
    height: 450px;
    border-radius: 5px;
    margin: 10px 0 10px 10px;
    border: 1px solid var(--dark-aluminium);
    color: var(--dark-aluminium);
}
#citsci-blurb.no-buttons {
    width: 320px;
}
#citsci-blurb.yes-buttons {
    width: 230px;
}

.citsci-examples {
    position: relative;
    float: left;
    width: 100%;
    min-height: 150px;
    border-radius: 5px;
    padding: 10px 0;
    background: var(--dark-aluminium);
    color: var(--white);
}

.citsci-examples h4 {
    color: var(--white);
    text-align: left;
    margin-left: 13px;
    margin-top: 0;
}

.citsci-examples img {
    width: 140px;
    height: 100px;
    border-radius: 5px;
    margin: 0 0 0 13px !important;
}

#citsci-mapping-panel {
    position: relative;
    width: 450px;
    float: left;
}
#citsci-mapping-panel h4 {
    color: var(--dark-aluminium);
}

#canvas__map, #canvas__compare {
    position: relative;
    float: left;
    height: 450px;
    width: 450px;
    border-radius: 5px;
    margin: 0 0 10px 0;
    background: var(--dark-aluminium);
}

.citsci-info-panel{
    position: relative;
    float: left;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    background: var(--dark-aluminium);
    color: var(--white);
}
.citsci-info-panel h5 {
    margin: 0;
}

.citsci-info-panel .label {
    font-weight: bold;
    float: left;
    width: 15%;
    margin-bottom: 0.5em;
}
.citsci-info-panel .content {
    float: left;
    width: 85%;
    margin-bottom: 0.5em;
}

.citsci-info-panel .context-image {
    position: absolute;
    float: left;
    bottom: 10px;
    left: 10px;
}


.melt {
    height: 390px;
    width: 380px;
    margin-left: 10px;
}


.mosaic {
    height: 450px;
    width: 470px;
    margin-right: 10px;
}
.mosaic-examples {
    margin-top: 10px;
    margin-right: 10px;
    height: 150px;
    width: 470px;
}

.mosaic-examples h4 {
    margin-top: 0;
}
.mosaic-examples img {
    width: 105px;
    height: 75px;
    float: left;
    border-radius: 5px;
    margin-top: 0;
}

.mosaic-examples .align-good {
    border: 4px solid var(--green);
    margin-right: 10px;
}

.mosaic-examples .align-warning {
    border: 4px solid var(--light-orange);
    margin-right: 10px;
}
.mosaic-examples .align-bad {
    border: 4px solid var(--light-orange);
}

.mosaic-examples .label {
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 5px;
}

#ex-canvas {
    position: absolute;
    top: 305px;
    left: 10px;
    height: 75px;
    width: 100px;
    border-radius: 5px;
    margin: 0;
    background: var(--white);
}

.submit-button, .busy-button {
    padding: 2px 15px;
    width: 380px;
    height: 50px;
    border: none; /* Remove default border */
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px; /* Optional: for rounded corners */
    font-size: 3rem;
    Margin-top: 10px;
    margin-left: 10px;
    display: inline;
}

.submit-button:hover {
    background-color: var(--indigo);
}

.busy-button {
    background-color: var(--aluminium);
    display: none;
}

#canvas__control {
    position: relative;
    float: right;
    height: 450px;
    width: 450px;
    border-radius: 5px;
    margin: 0 0 10px 10px;
    background: var(--dark-aluminium);
}

#compare-buttons-panel {
    color: var(--white);
    background-color: var(--dark-aluminium);
    float: left;
    width: 100%;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.4rem;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.compare-column {
    position: relative;
    float: left;
    width: 220px;
    border-radius: 5px;
    padding: 10px 3px;
    margin-right: 10px;
    background-color: var(--dark-aluminium);
    color: var(--white);
}

.compare-column p {
    text-align: center;
    margin: 0 0 11.5px 0;
}

#mosaic-submit-panel {
    float: left;
    width: 450px;
    margin-top: 10px;
}
#mosaic-submit-panel h4 {
    margin: 0 0 7px 0;
}

.mosaics-submit {
    position: relative;
    float: left;
    width: 160px;
    height: 65px;
    margin-right: 12px;
    border-radius: 5px;
    color: var(--white);
    font-weight: bold;
    font-size: 1.5rem;
}

#good {
    background: var(--green);
}
#warning {
    background: var(--light-yellow);
}
#bad {
    background: var(--light-orange);
}
#error {
    background: var(--black);
    color: var(--white);
    margin-right: 0;
    width: 105px;
}

#label1, #label2 {
    color: var(--white);
    float: left;
    width: 220px;
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: center;
}

#label1 p, #label2 p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

#image1, #image2 {
    position: relative;
    float: left;
    height: 220px;
    width: 220px;
    border-radius: 5px;
    background: var(--white);
}

#image1, #label1 {
    margin-right: 10px;
}

#tutorial {
    position: absolute;
    top: 60px;
    right: 50%;
    transform: translate(50%, 0);
    width: 800px;
    height: 500px;
    overflow: scroll;
    background: var(--white);
    border-radius: 5px;
    z-index: 1001;
    padding: 10px;
    transition: all 0.5s linear;
    background: var(--light-blue);
}

#tutorial img {
    transition: all 0s !important;
}

#tutorial button {
    margin: 10px 5px;
    padding: 8px 15px;
    cursor: pointer;
    border: 1px solid var(--aluminium);
    background-color: var(--light-aluminium);
    border-radius: 4px;
    width: 40px;
    color: var(--dark-aluminium);
}

#tutorial button.active {
    background-color: var(--indigo);
    color: var(--white);
    border-color: var(--blue);
    font-weight: bold;
}

#tutorial h3, #tutorial p {
    color: var(--black);
}

#tutorial h3 {
    font-size: 2.2em;
    text-align: center;
    width: 100%;
    margin-bottom: 0.2em;
}

.tutorial-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.tutorial-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 10px;
}

.nav-button, .start-button, .end-button {
    min-width: 150px;
    font-size: 1.5em;
}

.start-button {
    background: none !important;
    border: none !important;
    color: var(--black);
    font-weight: bold;
}

/* Tutorial Step 1 is formatted the same always */
#tutorial.step-1 img {
    width: 50%;
    height: auto;
    border-radius: 5px;
    position: absolute;
    bottom: 60px;
    right: 50%;
    transform: translate(50%, 0);
}

#tutorial.step-1 h3 {
    width: 60%;
    text-align: left;
}

#tutorial.step-1 .tutorial-navigation {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    float: right;
    width: 40%;
}

/* Mars Mosaics formatting */
#mars #tutorial.step-1 .image-caption  {
    position: absolute;
    bottom: 100px;
    left: 10px;
    width: 23%;
    color: var(--black);
    font-style: italic;
}

#mars #tutorial.step-2, #mars #tutorial.step-3 {
    width: 430px;
    height: 305px;
    right: 20px;
    transform: none;
    top: 200px;
}

#tutorial .tutorial-navigation {
    width: 100%;
    justify-content: center;
}

#tutorial h3 {
    width: 100%;
    text-align: center;
}

#mars #tutorial.step-2 img {
    width: 50px;
    height: auto;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

#mars #tutorial.step-3 {
    width: 450px;
    height: 420px;
    right: 480px;
    transform: none;
    top: 160px;
}

#mars #tutorial.step-3 img {
    width: auto;
    height: 50px;
    position: absolute;
    bottom: 60px;
    right: 10px;
}

#mars #tutorial.step-3 .image-caption {
    position: absolute;
    bottom: 70px;
    right: 30px;
    width: 100%;
    font-style: italic;
    font-weight: bold;
}
#mars #tutorial.step-3 .image-caption p {
    color: var(--blue) !important;
    text-align: right;
}

#mars #tutorial.step-4 {
    position: absolute;
    height: 275px;
    width: 450px;
    right: 480px;
    top: 228px;
    transform: none;
}

#mars #tutorial.step-4 img.tutorial-image2 {
    position: absolute;
    bottom: 55px;
    width: 400px;
    right: 50%;
    transform: translate(50%, 0);
    border-radius: 10px;
}

#mars #tutorial.step-4 img.tutorial-image1, #tutorial.step-5 img.tutorial-image1 {
    position: absolute;
    bottom: 10px;
    height: 30px;
    right: 50%;
    transform: translate(50%, 0);
    border-radius: 10px;
}

#mars #tutorial.step-5 {
    position: absolute;
    height: 225px;
    width: 430px;
    right: 20px;
    top: 325px;
    transform: none;
    text-align: center;
}

.mars .not-yet-box {}

#mars .thank-you, #mars .not-yet-box, #mars .are-you-sure {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--indigo);
    color: var(--white);
    height: 45px;
    width: 430px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

/* Moon Melt formatting */
#moon #tutorial.step-1 img {
    width: 50%;
    height: auto;
    border-radius: 5px;
    position: absolute;
    bottom: 60px;
    right: 50%;
    transform: translate(50%, 0);
}

#moon #tutorial.step-1 .image-caption {
    position: absolute;
    bottom: 100px;
    left: 10px;
    width: 23%;
    color: var(--black);
    font-style: italic;
}
#moon #tutorial.step-2, #moon #tutorial.step-3, #moon #tutorial.step-4, #moon #tutorial.step-5 {
    width: 360px;
    height: 430px;
    right: 20px;
    transform: none;
    top: 20px;
}

#moon #tutorial.step-6 {
    width: 360px;
    height: 370px;
    right: 20px;
    transform: none;
    top: 20px;
}

#moon #tutorial.step-2 h3 {
    width: 100%;
    text-align: center;
    padding-left: 40px;
}

#moon #tutorial.step-2 .tutorial-image2 {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 50px;
    height: auto;
}

#moon #tutorial.step-2 .image-caption {
    position: absolute;
    bottom: 50px;
    left: 30px;
    width: 80%;
}

#moon #tutorial.step-3 .image-caption {
    position: absolute;
    top: 285px;
    left: 80px;
    width: 70%;
}

#moon #tutorial.step-4 .image-caption{
    position: absolute;
    top: 285px;
    left: 80px;
    width: 75%;
}

#moon #tutorial.step-5 .image-caption {
    position: absolute;
    top: 285px;
    left: 100px;
    width: 65%;
}

#moon #tutorial.step-6 .image-caption {
    position: absolute;
    top: 285px;
    left: 20px;
    width: 90%;
}

#moon #tutorial.step-2 .image-caption p,
#moon #tutorial.step-3 .image-caption p,
#moon #tutorial.step-4 .image-caption p,
#moon #tutorial.step-5 .image-caption p,
#moon #tutorial.step-6 .image-caption p {
    font-style: italic;
    font-weight: bold;
    color: var(--blue) !important;
    text-align: center;
}

#moon #tutorial.step-3 img,
#moon #tutorial.step-4 img,
#moon #tutorial.step-5 .tutorial-image1 {
    width: 50px;
    height: auto;
    position: absolute;
    bottom: 93px;
    left: 20px;
    border-radius: 10px;
    background: var(--brown);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

#moon #tutorial.step-5 .tutorial-image2 {
    float: right;
    width: 104px;
    top: 200px;
    transform: none;
    padding: 5px;
    background: var(--white);
    border-radius: 5px;
}

.not-yet-message, .feedback {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    z-index: 1000;
    text-align: center;
    font-size: 1.5em;
}

.not-yet-message {
    background-color: var(--orange);
}

.feedback {
    background-color: var(--indigo);
}


@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; display: none; }
}