.hero-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;

  background: var(--orange);
  color: var(--white);

  /* responsive */
  padding: 2rem 6.4rem 1rem;
}


.hero-banner__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--white);
  border-radius: 50%;

  box-shadow: 0 2px 4px rgb(0 0 0 / 12%);

  /* responsive */

  width: 12.8rem;
  height: 12.8rem;
}

.hero-banner__image {
  width: 10.8rem;
  height: 10.8rem;
}

.hero-banner__image--small {
  width: 7.6rem;
  height: 7.6rem;
}

.hero-banner__headline {
  /* responsive */

  margin: 2.4rem 0 8px 0;
  font-size: 4.8rem;
}

.hero-banner__description {
  max-width: 58rem;

  text-align: center;

  /* responsive */

  margin-bottom: 0;

  font-size: 20px;
  font-weight: bold;
  line-height: 3.2rem;
}

#beta {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(30px);
  width: 150px;
  display: none;
}

@media only screen and (max-width: 540px) {
  .hero-banner {
    padding: 1rem 1rem 1rem;
  }

  .hero-banner__logo {
    width: 9.6rem;
    height: 9.6rem;
  }

  .hero-banner__image {
    width: 7.2rem;
    height: 7.2rem;
  }

  .hero-banner__image--small {
    width: 6rem;
    height: 6rem;
  }

  .hero-banner__headline {
    font-size: 3.2rem;
  }

  .hero-banner__description {
    font-size: 1.6rem;
    line-height: 2.4rem;

  }

  #beta {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(25px);
    width: 75px;
  }
}

